body {
    background-color: #EBEBEB;
    color: #32373B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    border: solid;
    border-color: #0A0908;
}


@media only screen and (min-width: 100px) {
    /* For tablets: */

    /* this will change the container class background to red when tablet*/

    .col {
        background-color: #EBEBEB;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: will change the container class to orange*/

    .col {
        background-color: #EBEBEB;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: will change the container class to orange*/

    .col {
        background-color: #EBEBEB;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop: will change the container class to orange*/

    .col {
        background-color: #EBEBEB;
    }
}

/* Orientation of landscape */

@media only screen and (orientation: landscape) {
    /* this will change the background to light blue when view is landscape */
    *{
        background-color: #EBEBEB;
    } 
}

a {
    color: #F4845F;
}

a:hover {
    color: #ac340c;
}

a:visited {
    color: #F4845F;
}